.speechIcon{
    width:150px;
    margin-top:-40px;
    /* background-color:#f8568c; */
    background-color:#000b8a;
    border-radius:50%;
}
.extra_margin{
    margin-top:30%;
    font-size:20px;
    margin-left: 5%;
}